.arrow,
.arrow:before {
  position: absolute;
  left: 5%;
  cursor: pointer;
}

.arrow {
  width: 20px;
  height: 20px;
  top: 15%;
  margin: -20px 0 0 -20px;
  transform: rotate(135deg);
  border-left: none;
  border-top: none;
  border-right: 2px #fff solid;
  border-bottom: 2px #fff solid;
}

.arrow:before {
  content: "";
  width: 15px;
  height: 15px;
  top: 15%;
  margin: -5px 0 0 -5px;
  border-left: none;
  border-top: none;
  border-right: 1px #fff solid;
  border-bottom: 1px #fff solid;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: arrow;
}
@keyframes arrow {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-5px, -5px);
  }
}

@media (max-width: 500px) {
  .arrow {
    left: 10%;
  }
}
