.container {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  background-color: #1b1b1b;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .container {
    max-width: 550px;
    padding: 0 15px;
  }
}
@media (max-width: 380px) {
  .container {
    max-width: 340px;
  }
}
