@font-face {
  font-family: "MadHacker";
  src: local("MadHacker"), url(fonts/MadHacker-Yjz8.ttf) format("truetype");
}
@font-face {
  font-family: "Inconsolata";
  src: local("Inconsolata"), url(fonts/Inconsolata.ttf) format("truetype");
}

body {
  margin: 0;
  background-image: url("/src/assets/img/background.png");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(22, 20, 20);
}
