@font-face {
  font-family: "MadHacker";
  src: local("MadHacker"), url(fonts/MadHacker-Yjz8.ttf) format("truetype");
}

body {
  margin: 0;
  background-image: url("/src/assets/img/background.png");
  background-size: cover;
  background-attachment: fixed;
}
